<style>
body { padding: 0; margin: 0; }
h1 { font-size: 20px; }
.tabs { width: 100%; }
.tabs > div { padding: 5px; }
.tabs > div pre { border: 1px solid #ddd; border-radius: 3px; padding: 5px; background: #eee;  }
span.option { color: green; }
.ui-tabs-hide { display: none; }
</style>

<h1>GoogleChartBundle showroom</h1>

{% for chart in charts %}
    {% include 'GoogleChartBundle:Showroom:chartDebug.html.twig' with loop %}
{% endfor %}


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script> 
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.8/jquery-ui.min.js"></script> 

<script type="text/javascript">
$(function() {
    $('.tabs').tabs();
});
</script>
